#master-list {

	list-style: none;

	width: 100%;

	.li-game {

		display: flex;
		justify-content: space-between;

		width: 100%;

		padding-top: .5em;
		padding-bottom: .25em;

		.game-id {

			width: 100%;

		}

		.game-title {

			width: 100%;

		}

		.player-count {

			width: 100%;

		}

		.play-time {

			width: 100%;

		}

		.difficulty {

			width: 100%;

		}

		.owner {

			width: 100%;

		}

	}

}