#game-info {

	width: 100%;

	.game-title {

		display: flex;

		.instructions {
			a {
				color: $ember;
				font-size: .5em;
			}
		}

	}

	.game-header {

		display: flex;
		justify-content: space-between;

		border-top: 1px solid $char;

		width: 100%;

		padding-top: .5em;
		padding-bottom: .25em;

		.player-count {

			width: 100%;

		}

		.play-time {

			width: 100%;

		}

		.difficulty {

			width: 100%;

		}

		.owner {

			width: 100%;

		}

	}

}

.game-description {

	display: flex;

	border-top: 1px solid $char;

	padding-top: 1em;
	width: 100%;

	img {
		margin-right: 1em;
	}

}