#master-list {

	list-style: none;

	width: 100%;

	.li-day {

		display: flex;
		justify-content: space-between;

		width: 100%;

		padding-top: .5em;
		padding-bottom: .25em;

		.day-id {

			width: 100%;

		}

		.day-title {

			width: 100%;

		}

	}

}
